body {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 64px;
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
}

.hidden {
  display: none;
}
